// Define variables for your color scheme

// For example:
$creole: #0E0A00;
$corn-field: #F9F2BF ;
$soft-peach: #F4EDED;
$persimmon: #FF6346;
$orange: #FF531B;
$scarlet: #E52600;
$koromiko: #FFBA68;
$supernova: #FFCB00;
$web-orange: #FFA300;
$pistachio: #84C400;
$fun-green: #02932E;
$cerulean: #00B8EA;
$azure-radiance: #007FFF;
$science-blue: #003FD0;
$pink-salmon: #FF8E9D;
$mauve: #FABEFF;
$hollywood-cerise: #FF0096;
$electric-violet: #BA25FD;
