<footer class="footer">
  <div class="icon-container-left">
    <img src="assets/zigzag-icon.png" alt="zigzag">
    <img src="assets/heart-icon.png" alt="heart">
  </div>
  <div class="contact">
    <p>CONTACT US</p>
    <p>myveryownway.official@gmail.com</p>
    <p>Tel.(=66)90-969-3000</p>
  </div>
  <div class="icon-container-right">
    <img src="assets/flower-icon.png" alt="flower">
    <img src="assets/semicircle-icon.png" alt="semicircle">
  </div>
  <div class="social-media">
    <a href="#line"><img src="assets/line-icon.png" alt="line"></a>
    <a href="#instagram"><img src="assets/instagram-icon.png" alt="instagram"></a>
    <a href="#facebook"><img src="assets/facebook-icon.png" alt="facebook"></a>
    <a href="#tiktok"><img src="assets/tiktok-icon.png" alt="tiktok"></a>
    <a href="#shopee"><img src="assets/shopee-icon.png" alt="shopee"></a>
    <a href="#lazada"><img src="assets/lazada-icon.png" alt="lazada"></a>
  </div>
</footer>
