<footer class="footer">
  <div class="footer-content">
    <div class="footer-section footer-section--left">
      <img src="assets/zigzag-icon.png" class="footer-icon zigzag" alt="zigzag">
      <img src="assets/heart-icon.png" class="footer-icon heart" alt="heart">

      <div class="contact">
        <h5><strong>CONTACT US</strong></h5>
        <p>myveryownway.official@gmail.com</p>
        <p><strong>Tel.</strong>(+66)90-969-3000</p>
      </div>
    </div>
    <div class="footer-section footer-section--right">
      <img src="assets/flower-icon.png" class="footer-icon flower" alt="flower">
      <img src="assets/semicircle-icon.png" class="footer-icon semicircle" alt="semicircle">

      <div class="social-media">
        <div class="social-media-group">
          <p><a class="social-link" href="#line"><img class="social-icon" src="assets/line-icon.png" alt="line">line</a></p>
          <p><a class="social-link" href="#instagram"><img class="social-icon" src="assets/instagram-icon.png" alt="instagram">instagram</a></p>
          <p><a class="social-link" href="#facebook"><img class="social-icon" src="assets/facebook-icon.png" alt="facebook">facebook</a></p>
        </div>
        <div class="social-media-group">
          <p><a class="social-link" href="#tiktok"><img class="social-icon" src="assets/tiktok-icon.png" alt="tiktok">tiktok</a></p>
          <p><a class="social-link" href="#shopee"><img class="social-icon" src="assets/shopee-icon.png" alt="shopee">shopee</a></p>
          <p><a class="social-link" href="#lazada"><img class="social-icon" src="assets/lazada-icon.png" alt="lazada">lazada</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-margin"></div>
</footer>
