<div class="main-content">
  <div class="hero-content">
    <h1>freedom</h1>
    <h2>of Choice</h2>

    <h3>HOW TO PICK YOUR VERY OWN</h3>

    <button class="button" role="button">Shop now</button>
    <br>
    <button class="button button-green" role="button">Shop now</button>
    <br>
    <button class="button button-orange" role="button">Shop now</button>
    <br>
    <button class="button button-blue" role="button">Shop now</button>
  </div>

  <div class="marquee">
    <h1>myveryownway</h1>
  </div>


</div>
