
<!DOCTYPE html>
<html>
<head>
  <title>My Very Own Way</title>
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <a><img src="assets/submark-logo.png" alt="Logo"></a>
    </div>
    <div class="navbar-items">
      <a href="#home">home</a>
      <a href="#shop">shop</a>
      <a href="#mix-match">mix & match</a>
      <a href="#collections">collections</a>
      <a href="#stockist">stockist</a>
      <a href="#about">about</a>
    </div>
    <div class="icons">
      <a href="#profile"><img src="assets/profile-icon.png" alt="Profile"></a>
      <a href="#cart"><img src="assets/cart-icon.png" alt="Cart"></a>
    </div>
  </div>

  <h1>freedom</h1>
  <h2>of Choice</h2>

  <h3>HOW TO PICK YOUR VERY OWN</h3>
</body>

<button class="button" role="button">Shop now</button>
<br>
<button class="button button-green" role="button">Shop now</button>
<br>
<button class="button button-orange" role="button">Shop now</button>
<br>
<button class="button button-blue" role="button">Shop now</button>

</html>
