<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="button" role="button">Shop now</button>
<br>
<button class="button button-green" role="button">Shop now</button>
<br>
<button class="button button-orange" role="button">Shop now</button>
<br>
<button class="button button-blue" role="button">Shop now</button>
