<div class="main-content">
  <div class="hero-content">
    <h1>freedom</h1>
    <h2>of Choice</h2>
    <p>Let Your Creativity Run Free And Express Your Style With Your Very Own Bag</p>
    <button class="button button-green" role="button">Shop now</button>
    
    <div class="marquee">
      <h1>myveryownway</h1>
    </div>
  </div>
  
   <h3>HOW TO PICK YOUR VERY OWN</h3>
    <div class="row">
      <div class="col-3">
        <img src="assets/home-step1.svg" alt="Step1">
        <h4>Step 1</h4>
        <p>Pick Your Bag Design</p>
      </div>
      <div class="col-3">
        <img src="assets/home-step2.svg" alt="Step2">
        <h4>Step 2</h4>
        <p>Pick Your Strap</p>
      </div>
      <div class="col-3">
        <img src="assets/home-step3.svg" alt="Step3">
        <h4>Step 3</h4>
        <p>Pick Your Pouch And Accessories</p>
      </div>
      <div class="col-3">
        <img src="assets/home-step4.svg" alt="Step4">
        <h4>Step 4</h4>
        <p>Enjoy Your Very Own Bag</p>
       </div>
     </div>
     <button class="button button-orange" role="button">mix & match now</button>
</div>