.button {
  display: flex;
  height: 50px;
  width: 147px;
  padding: 18px 69px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px 10px;
  border: none;
  font-family: 'Montserrat';
  font-size: 14px;
}
