.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 240px;
  border: solid 1px #151414;

  .footer-icon {
    position: absolute;
  }

  .heart {
    height: 70px;
    top: 5%;
    right: 20%;
  }

  .zigzag {
    height: 90px;
    top: 50%;
    left: -2px;
  }

  .semicircle {
    height: 70px;
    top: 0;
    left: 50%;
  }

  .flower {
    height: 70px;
    top: 50%;
    left: 5%;
  }
}

.footer-section--right {
  justify-content: end;
  align-items: end;

  a {
    text-decoration: none;
    color: #151414;
  }
}

.footer-margin {
  content: "";
  height: 30px;
  width: 100%;
  background-color: #151414;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.social-icon {
  height: 24px;
  margin-right: 10px;
}

.social-media-group {
  margin: 10px 20px;

  p {
    margin-top: 12px;
  }
}
