// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "typography";
@import "footer";

// desktop only visibility
@media screen and (min-width: 431px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

// mobile only visibility
@media screen and (max-width: 430px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px; /* Margin bottom by footer height */
  background-color: #F4EDED;
}
